# IDEs
.idea/
*.swp
*.swo
.vscode/

# OS
.DS_Store
Thumbs.db

# Global Node
node_modules/
npm-debug.log

# Global Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Logs
logs/
*.log

# Database
*.db
*.sqlite3

# Build artifacts
dist/
build/
*.egg-info/

# Local Artifacts
artifacts/

tmp/